[submodule "Project 2"]
	path = Project 2
	url = https://github.com/CSCE412-FALL23/Project-2-lai-huy.git

[submodule "Project 3"]
	path = Project 3
	url = https://github.com/CSCE412-FALL23/Project-3-lai-huy.git
